streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
python-dotenv
deep_translator
langdetect
faiss-cpu
pypdf
unstructured
python-docx
wikipedia==1.4.0
arxiv==2.1.3
tavily-python==0.7.10
fastapi
uvicorn
